@import "allPageSameDesign";
.page-Header-Banner{
    p,h3{
        color:$page-buttons-bgcolor-black !important;
    }
    h3{
        font-size: 50px;
        text-decoration: underline;
    }
}
.product-announcement{
    background: url('/heading images/bg-banner-02.jpg') no-repeat center;
    background-size: 120% 100%;
}
.third-homePageHeader{
    position: sticky;
    top: 0;
}
.page-main-navigation{
    position: relative;
}
.added-products-list{
    left: 20%;
}
.page-banner{
    .cover{
        height: 97%!important;
        
    }
}
.owl-carousel{
    .page-banner{
        .cover{
            width: 86%!important;
            height: 95%!important;
            .page-button{
                left: 15%!important;
            }
        }
    }
}